* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  gap: 0px;
  opacity: 0px;
}

.container-flex {
  display: flex;
  margin-top: 42px;
}
#sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 344px;
  height: 87vh;
}
#task-btn {
  background-color: #fff;
}
#task-btn a {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
}
#task-img {
  width: 18px;
  height: 22.91px;
  background-image: url("./task-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.hug-1 {
  display: flex;
  align-items: center;
  width: 130px;
  gap: 10px;
}
.navDiv1 {
  width: 250px;
  height: 55px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navDiv2 {
  width: 250px;
  height: 55px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#location-btn {
  background-color: #000000;
}
#location-btn a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}

#location-img {
  width: 18px;
  height: 22.91px;
  background-image: url("./location-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.hug-2 {
  display: flex;
  align-items: center;
  width: 130px;
  gap: 10px;
}
#log-out {
  width: 61px;
  height: 22px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  color: #000000;
  cursor: pointer;
  border: 0;
  background-color: #fff;
  margin-left: 10px;
}

#logout-img {
  width: 18px;
  height: 18px;
  background-image: url("./logOut.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

#logoutBtn {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}
.locationBtnSelected a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
}
.parentContainer {
  display: flex;
  margin-top: 58px;
}
.tasks-location {
  width: 342px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 2px;
  /* position: absolute;
  top: 59px;
  left: 344px; */
}

.check-and-currentLocation {
  width: 342px;
  height: fit-content;
}

#text-checkIn {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #575767;
}

#current-location {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #575767;
}

.items {
  width: 342px;
  height: 45px;
}

.flex {
  display: flex;
}

#name-location {
  margin-bottom: 0px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #575767;
}

#location-number {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #b9b9be;
}
.locationImage {
  width: 24px;
  height: 23px;
  background-image: url("./📍.png");
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

#text-previous {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #575767;
}
